body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid rgba(255, 166, 0, 0.822);
}

ol {
	padding-left: 0;
}
 
ul {
	padding-left: 0;
	
}

.Pet {
	margin-right: 5em;
	display: inline;
}

a {
	color: rgba(255, 166, 0, 0.849);
}

a:visited {
	color: rgba(220, 20, 60, 0.288);
}


input {
	display: block;
	color: rgba(255, 0, 0, 0.938);
}

img {
	max-width: 1500px;
}

.favorite-btn {
font-size: 30px;
color: rgba(255, 255, 0, 0.932);

}

type:hover {
	color: rgba(255, 255, 0, 0.904);
	cursor: arrow;
}
